<section class="fqa mr1">
  <div class="fqa__container">
    <div class="fqa__body">
      <ul class="fqa__list accord">
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              Чи передається бактеріальний вагіноз статевим шляхом?
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                звернутись до лікаря, самостійно він не проходить.
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              Чи може бактеріальний вагіноз пройти сам?
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                звернутись до лікаря, самостійно він не проходить.
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              Чи можна жити статевим життям під час бактеріального вагінозу?
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                звернутись до лікаря, самостійно він не проходить.
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              Як бактеріальний вагіноз впливає на вагітність?
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                звернутись до лікаря, самостійно він не проходить.
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              Чи можна жити статевим життям під час застосування кільця
              ЛактоРинг?
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                звернутись до лікаря, самостійно він не проходить.
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
