<section class="fqa mr1">
  <div class="fqa__container">
    <div class="fqa__body">
      <ul class="fqa__list accord">
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h2>Чи передається бактеріальний вагіноз статевим шляхом?</h2>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                  звернутись до лікаря, самостійно він не проходить.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h2>Чи може бактеріальний вагіноз пройти сам?</h2>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                  звернутись до лікаря, самостійно він не проходить.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h2>
                Чи можна жити статевим життям під час бактеріального вагінозу?
              </h2>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                  звернутись до лікаря, самостійно він не проходить.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h2>Як бактеріальний вагіноз впливає на вагітність?</h2>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                  звернутись до лікаря, самостійно він не проходить.
                </p>
              </div>
            </div>
          </div>
        </li>
        <li class="ac">
          <div class="ac-trigger">
            <div class="fqa__header">
              <h2>
                Чи можна жити статевим життям під час застосування кільця
                ЛактоРинг?
              </h2>
            </div>
            <div class="ac-panel">
              <div class="fqa__content">
                <p>
                  Якщо у вас з’явились симптоми бактеріального вагінозу, слід
                  звернутись до лікаря, самостійно він не проходить.
                </p>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
