<section class="research pd1">
  <div class="research__container wider">
    <div class="heading">
      <h1 class="tl2">Дослідження</h1>
    </div>

    <ul class="research__cards">
      <li class="research__card">
        <a href="#" class="research__tl">
          Метронідазол проти молочної кислоти для лікування бактеріального
          вагінозу (VITA): протокол рандомізованого конт
        </a>
        <div class="research__txt">
          <p>
            L Armstrong-Buisseret, C Brittain, M David et al. Metronidazole
            versus lactic acid for treating bacterial vaginosis (VITA): protocol
            for a randomised controlled trial to assess the clinical and cost
            effectiveness of topical lactic acid gel for treating second and
            subsequent episodes of bacterial vaginosis / Trials 2019 Nov
            27;20(1):648
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">
          Поширеність бактеріального вагінозу: дані Національного дослідження
          здоров’я та харчування за 2001-2004 рр.
        </a>
        <div class="research__txt">
          <p>
            Allsworth JE and Peipert JF, Prevalence of bacterial vaginosis:
            2001–2004 National Health and Nutrition Examination Survey data.
            Obstet Gynecol, 2007. 109(1): p. 114–20
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">
          Бактеріальний вагіноз: поточні підходи до діагностики та перспективи
        </a>
        <div class="research__txt">
          <p>
            MJ Redelinghuys , J Geldenhuys , H Jung , M M Kock  Bacterial
            Vaginosis: Current Diagnostic Avenues and Future Opportunities Front
            Cell Infect Microbiol. 2020, Vol 10, Article 354
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">////</a>
        <div class="research__txt">
          <p>
            LGV Sousa, SA Pereira, N Cerca Fighting polymicrobial biofilms in
            bacterial vaginosis Microbial Biotechnology. 2023;16:1423–1437.
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">////</a>
        <div class="research__txt">
          <p>
            A Javed, F Parvaiz, S Manzoor Bacterial vaginosis: An insight into
            the prevalence, alternative treatments regimen and it's associated
            resistance patterns / Microb Pathog . 2019 Feb:127:21-30.
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">////</a>
        <div class="research__txt">
          <p>
            H Verstraelen , C Vervaet, J-P Remon Rationale and Safety Assessment
            of a Novel Intravaginal Drug-Delivery System with Sustained
            DL-Lactic Acid Release, Intended for Long-Term Protection of the
            Vaginal Microbiome / PLoS One. 2016 Apr 19;11(4):e0153441
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
      <li class="research__card">
        <a href="#" class="research__tl">////</a>
        <div class="research__txt">
          <p>
            A Farr, S Swidsinski, D Surbek et al. Bacterial Vaginosis: Guideline
            of the DGGG, OEGGG and SGGG (S2k-Level, AWMF Registry No. 015/028,
            June 2023)/ Geburtshilfe Frauenheilkd. 2023 Nov 3;83(11):1331–1349
          </p>
        </div>
        <a href="#" class="btn-def bg-trn">Читати дослідження</a>
      </li>
    </ul>
  </div>
</section>
