.use__body {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.use__content {
  min-height: 35.875rem;
  max-width: 38.125rem;
  .tl2 {
    margin-bottom: 1.25rem;
  }
}
.use__img {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 35.625rem;
  img {
    width: 100%;
  }
}
.use__list {
  margin: 2.5rem 0;
  border-radius: 1.25rem;
  background-color: var(--cp);
  padding: 2.5rem;
  ol,
  ul {
    display: flex;
    flex-direction: column;
    gap: 0.75rem 0;
    li {
      position: relative;
      font-size: 1.375rem;
      font-weight: 500;
    }
  }
  ol {
    counter-reset: ref-counter;
    li {
      padding-left: 1.875rem;
      counter-increment: ref-counter;
      &::before {
        content: counter(ref-counter) ".";
        position: absolute;
        left: 0;
        top: 0;
        color: var(--cr);
      }
    }
  }
  ul {
    li {
      padding-left: 2.25rem;
      &::before {
        content: "";
        position: absolute;
        top: 0.375rem;
        left: 0;
        width: 1.25rem;
        height: 1.25rem;
        background-size: 1.25rem 1.25rem;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: var(--itemVec);
      }
    }
  }
}
.use__btns {
  display: flex;
  flex-wrap: wrap;
  gap: 1.25rem;
  margin-top: 3.75rem;
}

@media screen and (max-width: 960px) {
  .use__content {
    min-height: calc(50vw - 3.625rem);
    max-width: 100%;
    padding-left: 50%;
    .tl2 {
      margin-bottom: 0.75rem;
    }
  }
  .use__img {
    width: 100%;
    max-width: calc(50% - 1.875rem);
  }
  .use__list {
    margin: 1.875rem 0;
    border-radius: 0.625rem;
    padding: 1.875rem;
    ol,
    ul {
      gap: 1rem 0;
      li {
        font-size: 1.125rem;
      }
    }
  }
  .use__btns {
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1.875rem;
  }
}

@media screen and (max-width: 768px) {
  .use__content {
    padding-left: 0;
    min-height: auto;
  }
  .use__img {
    position: static;
    z-index: auto;
    top: auto;
    left: auto;
    max-width: 25rem;
    margin: 1.875rem auto;
  }
}
