.article__heading {
  margin-bottom: 2.5rem;
  .tl2 {
    text-align: center;
    margin-bottom: 0.75rem;
  }
}
.article__date {
  color: var(--cc);
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}
.article__img {
  border-radius: 1.25rem;
  overflow: hidden;
  padding-top: 31.25%;
  margin-bottom: 2.5rem;
}
.article__main {
  max-width: 38.125rem;
  margin: 0 auto;
  .btn-def {
    margin: 0 auto;
    margin-top: 2.5rem;
  }
}
.article__content {
  font-size: 1.125em;

  & > * {
    margin-top: 0.889em;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h2,
  h3 {
    font-size: 1.333em;
    line-height: 1.867em;
    margin-top: 1.25em;
    margin-bottom: 0.667em;
  }

  .art-list {
    border-radius: 1.25rem;
    background-color: var(--cp);
    padding: 2.5rem;

    & > * {
      margin-top: 0.75em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        border-bottom: none !important;
      }
    }
  }

  ul {
    color: var(--cd);
    margin-left: 1em;
    li {
      font-size: 0.889em;
      font-weight: 500;
      margin-bottom: 0.75em;
      margin-left: 0.5em;
      list-style: disc;
      &:last-child {
        margin-bottom: 0;
      }
      ol {
        margin-top: 0.75em;
        padding-left: 4.5em;
        li {
          font-size: 1em;
        }
      }
    }
  }
  ol {
    color: var(--cd);
    padding-left: 1.5em;
    margin-left: 0;
    li {
      font-size: 0.889em;
      font-weight: 500;
      margin-bottom: 0.5em;
      list-style: decimal;
      margin-left: 0;
      &:last-child {
        margin-bottom: 0;
      }
      ul {
        margin-top: 0.75em;
        margin-left: 4.125em;
        li {
          font-size: 1em;
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .article__container {
    padding: 0 2.25em;
  }
  .article__heading {
    margin-bottom: 1.875rem;
    .tl2 {
      margin-bottom: 0.5rem;
    }
  }
  .article__date {
    font-size: 0.875rem;
  }
  .article__img {
    border-radius: 0.625rem;
    padding-top: 55.24%;
    margin-bottom: 1.875rem;
  }
  .article__main {
    max-width: 100%;
    .btn-def {
      margin-top: 1.875rem;
    }
  }
  .article__content {
    .art-list {
      border-radius: 0.625rem;
      padding: 1.875rem;
    }
  }
}

@media screen and (max-width: 375px) {
  .article__container {
    padding: 0 1.75em;
  }
  .article__img {
    padding-top: 75.24%;
  }
}
