<footer class="footer">
  <div class="footer__container">
    <div class="footer__body">
      <div class="footer__main">
        <address class="footer__address">
          <p>
            ТОВ «Айкор Консьюмер», вул. Вінстона Черчилля, 42Д, Київ, Україна,
            02094,
          </p>

          <div class="footer__box">
            <a href="tel:+380445875758" class="footer__con">
              <span>
                <img src="./img/icons/con_1.svg" alt="" />
              </span>
              <p>+38 (044) 587 57 58</p>
            </a>
            <a href="mailto:aicore.office@aicore.com.ua" class="footer__con">
              <span>
                <img src="./img/icons/con_2.svg" alt="" />
              </span>
              <p>aicore.office@aicore.com.ua</p>
            </a>
            <a href="mailto:www.aicore.com.ua" class="footer__con">
              <span>
                <img src="./img/icons/con_3.svg" alt="" />
              </span>
              <p>www.aicore.com.ua</p>
            </a>
          </div>
          
          <ul class="footer__soc">
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_1.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_2.svg" alt="" />
              </a>
            </li>
            <li>
              <a href="#" target="_blank" rel="noopener noreferrer">
                <img src="./img/icons/soc_3.svg" alt="" />
              </a>
            </li>
          </ul>
        </address>

        <nav class="footer__nav">
          <ul>
            <li class="menu-item current-menu-item">
              <a href="./lacto.html">Про ЛактоРинг</a>
            </li>
            <li class="menu-item">
              <a href="./vaginosis.html">Про бактеріальний вагіноз</a>
            </li>
            <li class="menu-item"><a href="./research.html">Дослідження</a></li>
            <li class="menu-item"><a href="./blog.html">Блог</a></li>
            <li class="menu-item"><a href="./contacts.html">Контакти</a></li>
          </ul>
        </nav>

        <ul class="footer__items">
          <li>Реклама виробу медичного призначення ЛактоРинг</li>
          <li>
            Перед застосуванням медичного виробу необхідно проконсультуватися з
            лікарем та ознайомитися з інструкцією з використання
          </li>
          <li>Зберігати у недоступному для дітей місці</li>
        </ul>
      </div>

      <div class="footer__warning">
        <p>
          Увага! Інформація щодо продуктів, розміщена на сайті, представлена
          виключно для інформаційних цілей і не вважається такою, що заміняє
          консультацію лікаря чи рекомендації спеціалістів у сфері охорони
          здоров’я.
        </p>
      </div>

      <div class="footer__bottom">
        <a href="./index.html" class="custom-logo-link">
          <img src="./img/icons/logo.svg" alt="Logo" />
        </a>
        <a href="./policy.html">Політика конфіденційності</a>
      </div>
    </div>
  </div>
</footer>
