<div class="aptitude">
  <div class="aptitude__container">
    <ul class="aptitude__cards">
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>
            Усунення симптомів бактеріального вагінозу (таких, як сухості,
            печіння, свербіжу, неприємного запаху, рясних вагінальних виділень)
          </p>
        </div>
      </li>
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>
            У комплексному лікуванні бактеріального вагінозу як доповнення до
            антибактеріальних препаратів
          </p>
        </div>
      </li>
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>
            Нормалізація та підтримка оптимального рівня кислотності (рН)
            вагінального середовища, у т.ч. під час або після курсу
            антибіотикотерапії та/або проти-грибкових препаратів
          </p>
        </div>
      </li>
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>Профілактика бактеріального вагінозу</p>
        </div>
      </li>
    </ul>
  </div>
</div>
