<section class="dose pd1">
  <div class="dose__container narr">
    <div class="paragraph grid-row">
      <div class="paragraph__content">
        <h2>Рекомендована доза та режим застосування</h2>
        <p>
          Усунення симптомів бактеріального вагінозу: сухості, печіння,
          свербіжу, неприємного запаху, рясних вагінальних виділень — вагінальне
          кільце призначається на 7 днів. Для стійкішого ефекту після закінчення
          7 днів кільце видаляється з піхви та змінюється на нове ще на 7 днів.
        </p>
        <p>
          У складі комплексного лікування бактеріального вагінозу
          антибактеріальними препаратами (зокрема, метронідазолом) – з першого
          дня призначення антибактеріальної терапії впродовж усього часу її
          застосування, після закінчення прийому антибактеріального засобу
          продовжити застосування кільця до 14-го дня від початку лікування (з
          заміною на нове після перших семи днів застосування). Для стійкішого
          ефекту після закінчення 14 днів можна продовжити застосування кільця
          ще на 7–14 днів (з заміною на нове після семи нів застосування).
        </p>
        <p>
          Підтримка оптимального рівня рН вагінального середовища під час або
          після курсу антибіотикотерапії та/або протигрибкових препаратів — 14
          днів (з заміною на нове після перших семи днів застосування).
        </p>
        <p>
          З профілактичною метою для попередження епізоду бактеріального
          вагінозу, а також при підвищенні рН піхви лікування призначається на
          14 днів або 28 днів зі зміною кільця на нове через кожні 7 днів.
        </p>

        <h2>Тривалість застосування</h2>
        <p>
          Курс застосування вагінального кільця Лакторинг складає від 14 до 28
          днів, чого зазвичай достатньо для досягнення стійкої нормалізації
          кислотного середовища (рН) піхви та забезпечення інших ефектів дії
          молочної кислоти.
        </p>
        <p>
          Оскільки необхідна концентрація молочної кислоти забезпечується лише
          протягом перших 7 днів застосування кільця, при необхідності більш
          тривалого курсу після закінчення 7 днів кільце має бути видалене з
          піхви та змінене на нове.
        </p>
        <p>
          У залежності від частоти виникнення епізодів бактеріального вагінозу
          через певний час може бути призначений повторний профілактичний курс,
          що підбирається індивідуально, але бажано до появи клінічних симптомів
          бактеріального вагінозу чи з появою лише перших симптомів.
        </p>

        <h2>Протипоказання</h2>
        <p>
          Вульвовагінальний кандидоз (молочниця) є відносним протипоказанням.
          Використання медичного виробу у пацієнтів з вульвовагінальним
          кандидозом(молочницею) можливе лише за призначенням лікаря та у
          комбінації з антигрибковою терапією.
        </p>
        <p>
          Непереносимість полімерів, що входять до складу кільця може бути
          протипоказанням у випадку її наявності, але у літературі такі випадки
          не описані.
        </p>
      </div>

      <div class="paragraph__content">
        <div class="paragraph__img">
          <img src="./img/content/parag_1.jpg" alt="" />
        </div>

        <h2>Попередження</h2>
        <p>
          Вплив на кислотність (рН) середовища піхви може вплинути на дію у
          деяких медикаментів, що застосовуються вагінально, тому не слід
          одночасно застосовувати інші вагінальні препарати при застосуванні
          вагінального кільця Лакторинг.
        </p>
        <p>
          Лакторинг може погіршити перебіг вульвовагінального кандидозу
          (молочниця), одним з чинників якого є закислення вагінального
          середовища, тому застосування Лакторингу у пацієнтів з молочницею не
          рекомендується (за винятком поєднання з медикаментозною терапією
          протигрибковими препаратами чи комбінацією антибактеріальних і
          протигрибкових засобів).
        </p>
        <p>
          Не слід застосувати при алергії (гіперчутливості) до молочної кислоти
          або інших компонентів медичного виробу.
        </p>
        <p>
          Слід уникати застосування Лакторингу під час спроб зачаття, оскільки
          низькі значення рН піхви негативно впливають на активність
          сперматозоїдів.
        </p>
        <p>Не слід застосовувати як засіб для контрацепції.</p>
        <p>
          Лакторинг слід зберігати при температурі 8–250 С і уникати впливу
          прямих сонячних променів, джерел тепла, вологості і контакту з водою.
        </p>
        <p>
          Термін придатності застосовується до непошкодженого продукту за умови
          його правильного зберігання.
        </p>
        <p>Зберігати в недоступному для дітей місці.</p>
      </div>
    </div>
  </div>
</section>
