<section class="lacto pd1">
  <div class="lacto__container narr">
    <div class="lacto__body">
      <div class="lacto__content">
        <h1 class="tl2">
          <span>ЛактоРинг®</span> — це одноразовий медичний виріб, що являє
          собою полімерне кільце з молочною кислотою для внутрішньовагінального
          застосування.
        </h1>
        <div class="txt-def">
          <p>
            <b>Склад:</b> Матрична система вагінального кільця, завантажена 150
            мг молочної кислоти.
          </p>
        </div>
      </div>

      <div class="lacto__img">
        <img src="./img/content/hand.png" alt="" />
      </div>
    </div>
  </div>
</section>
