<section class="use pd1">
  <div class="use__container narr">
    <div class="use__body">
      <div class="use__content">
        <h2 class="tl2">Як використовувати <span>ЛактоРинг®</span>?</h2>

        <div class="txt-def">
          <p>
            Якщо ви можете вставити тампон, у вас не повинно виникнути проблем
            із введенням вагінального кільця. Щоб вставити вагінальне кільце,
            виконайте такі дії:
          </p>
        </div>

        <div class="use__img">
          <img src="./img/content/use_1.png" alt="" />
        </div>

        <div class="use__list">
          <ol>
            <li>Перед застосуванням ретельно вимийте руки з милом.</li>
            <li>Відкрийте пакет та дістаньте кільце.</li>
            <li>
              Виберіть зручне положення стоячи, напівсидячи чи лежачи для
              введення кільця.
            </li>
            <li>
              У вибраному положенні візьміть кільце двома пальцями та трохи
              зігніть його.
            </li>
            <li>
              Однією рукою введіть кільце зігнутою частиною повністю у піхву,
              при необхідності другою рукою розведіть статеві губи. Відпустіть
              кільце. При необхідності проштовхніть кільце пальцем до зручного
              положення. Кільце має повністю ввійти у порожнину піхви та вільно
              розташуватися у ній.
            </li>
          </ol>
        </div>

        <div class="txt-def">
          <p>
            Для видалення кільця із піхви ретельно вимийте руки з милом,
            прийміть зручне положення, захопіть кільце вказівним пальцем або
            стисніть вказівним і середнім пальцями, введеними у піхву, та
            потягніть його, щоб повністю видалити з піхви.
          </p>
        </div>

        <div class="use__btns">
          <a
            href="https://aicore-store.com.ua/index.php?route=product/product&product_id=98"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Замовити
          </a>
          <a href="./article.html" class="btn-def bg-trn">
            Читати повну інструкцію
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
