<section class="blog pd1">
  <div class="blog__container narrow">
    <div class="heading">
      <h1 class="tl2">Блог</h1>
    </div>

    <ul class="blog__cards">
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_1.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Що таке бактеріальний вагіноз
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_2.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Причини виникнення бактеріального вагінозу
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_3.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Симптоми бактеріального вагінозу
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_4.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Рецидивуючий бактеріальний вагіноз
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_5.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Небезпечні наслідки бактеріального вагінозу
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
      <li class="blog__card">
        <a href="./article.html" class="blog__img ibg">
          <img src="./img/content/blog_6.jpg" alt="" />
        </a>
        <p class="blog__date">11.11.23</p>
        <a href="./article.html" class="blog__tl hvr">
          Методи лікування бактеріального вагінозу
        </a>
        <div class="blog__txt">
          <p>
            Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
            захворювань серед жінок, яке впливає на їх репродуктивне та загальне
            здоров'я. Це стан, що виникає через порушення балансу мікрофлори
            піхви, коли домінуючі лактобактерії заміщуються іншими
            мікроорганізмами.
          </p>
        </div>
        <a href="./article.html" class="btn-def bg-trn">Читати</a>
      </li>
    </ul>
  </div>
</section>
