<section class="bacterium pd1">
  <div class="bacterium__container narr">
    <div class="paragraph grid-row">
      <div class="paragraph__content">
        <div class="paragraph__img">
          <img src="./img/content/vaginos_2.png" alt="" />
        </div>
      </div>

      <div class="paragraph__content">
        <h2>Основні симптоми бактеріального вагінозу</h2>
        <p>
          Більшість жінок з бактеріальним вагінозом (до 84%) не відчувають
          жодних симптомів. У такому випадку БВ може бути виявлений лише під час
          медичного огляду або за допомогою аналізів.
        </p>
        
        <h3>Якщо симптоми все ж є, вони включають в себе:</h3>
        <div class="paragraph__list point">
          <ul>
            <li>
              Надмірні виділення з піхви, часто з характерним «рибним» запахом.
            </li>
            <li>
              Зміна кольору виділень, вони можуть бути сірими, білуватими,
              зеленуватими тощо (в залежності від збудника БВ)
            </li>
            <li>
              У деяких жінок можуть з’явитися не тільки зміни в виділеннях, але
              й інші неприємні відчуття, такі як свербіж, печіння або біль під
              час сечовипускання, однак такі симптоми виникають набагато рідше
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
