<section class="consequen pd1">
  <div class="consequen__container narr">
    <div class="paragraph grid-columns">
      <div class="paragraph__content">
        <h2>Небезпечні наслідки бактеріального вагінозу</h2>
        <p>
          Без належного лікування бактеріальний вагіноз може призвести до ряду
          серйозних проблем, найбільш небезпечною з яких вважається вплив на
          вагітність. Наявність БВ у матері може значно підвищити ризик
          виникнення таких ускладнень, як передчасні пологи та низька маса тіла
          немовляти при народженні.
        </p>
        <p>
          Окрім того, хронічний баквагіноз може порушити функціонування
          внутрішніх статевих органів жінки, що може призвести до безпліддя.
        </p>
        <p>
          Також зміни в мікрофлорі піхви під час БВ можуть стати передумовою для
          розвитку таких інфекцій, як хламідіоз, трихомоніаз, гонорея та інші
          захворювання, що передаються статевим шляхом, а також підвищити
          вразливість організму до вірусів, зокрема ВІЛ.
        </p>
        <p>
          Нелікований бактеріальний вагіноз може призвести до розвитку запальних
          процесів в органах малого таза, зокрема у матці, яєчниках та
          фалопієвих трубах.
        </p>
        <p>
          Бактеріальний вагіноз має схильність до частих рецидивів, що може
          ускладнити лікування та потребує додаткових терапевтичних заходів.
        </p>
      </div>
    </div>
  </div>
</section>
