<section class="prevention pd1">
  <div class="prevention__container narr">
    <div class="paragraph grid-row">
      <div class="paragraph__content">
        <h2>Лікування та профілактика бактеріального вагінозу</h2>
        <p>
          Лікування бактеріального вагінозу обов’язково має бути комплексним та
          спрямованим на відновлення нормального балансу мікрофлори у піхві.
          Такий підхід до лікування допоможе не лише усунути симптоми, а й
          відновити здоровий баланс мікрофлори, запобігти можливим ускладненням
          та підвищити загальну якість життя.
        </p>
        <p>
          Наразі основним методом лікування бактеріального вагінозу є
          антибіотикотерапія з застосуванням таких препаратів, як метронідазол
          або кліндаміцин. Вибір конкретного препарату залежить від загального
          стану пацієнтки, супутніх захворювань, наявної вагітності та
          індивідуальних особливостей організму.
        </p>
        <p>
          Після основного лікування зазвичай призначаються пробіотики для
          відновлення здорової мікрофлори піхви.
        </p>
        <p>
          На жаль, навіть коли бактеріальний вагіноз вилікувано, він може
          повернутися. Зазвичай протягом року 3 з 4 жінок з БВ стикаються з
          поверненням симптомів. Причини рецидивів можуть бути різними,
          включаючи незавершене або невідповідне лікування, повторне
          інфікування, системні захворювання, що впливають на імунітет,
          резистентність до ліків, тощо.
        </p>

        <h3>
          Для запобігання баквагінозу слід дотримуватись кількох простих, але
          важливих рекомендацій:
        </h3>
        <div class="paragraph__list check">
          <ul>
            <li>
              Використовувати нейтральні засоби для інтимної гігієни, не
              зловживати спринцюванням та ароматизованими продуктами;
            </li>
            <li>
              Використовувати бар’єрні контрацептиви (презервативи) для
              зменшення ризику інфекцій;
            </li>
            <li>Регулярно проходити огляд у гінеколога;</li>
            <li>
              Уникати надмірного вживання антибіотиків та зміцнювати імунітет.
            </li>
          </ul>
        </div>
      </div>

      <div class="paragraph__content">
        <div class="paragraph__img">
          <img src="./img/content/vaginos_3.jpg" alt="" />
        </div>

        <p>
          Значно знизити ризик захворювання можуть також засоби, що містять
          молочну кислоту, яка допомагає зберігати в піхві слабко-кисле
          середовище та запобігає надмірному розмноженню умовно-шкідливих
          анаеробних бактерій, яке й викликає захворювання.
        </p>
        <p>
          Бактеріальний вагіноз — це досить поширене захворювання, яке може
          серйозно вплинути на здоров’я жінки, якщо не звертати увагу на
          симптоми та не пройти належне лікування у разі його виникнення.
          Своєчасне виявлення та лікування баквагінозу з легкістю повертають до
          комфортного життя.
        </p>

        <div class="paragraph__btns">
          <a
            href="https://aicore-store.com.ua/index.php?route=product/product&product_id=98"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Замовити
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
