<section class="vaginosis pd1">
  <div class="vaginosis__container narr">
    <div class="paragraph__heading">
      <h2 class="tl2">Щотаке бактеріальний вагіноз?</h2>
    </div>

    <div class="paragraph grid-row reverse-mob">
      <div class="paragraph__content">
        <p>
          Бактеріальний вагіноз (БВ) — одне з найпоширеніших вагінальних
          захворювань серед жінок, яке впливає на їх репродуктивне та загальне
          здоров'я. Це стан, що виникає через порушення між корисними
          лактобактеріями та умовно патогенними мікроорганізмами, що населяють
          піхву.
        </p>
        <h3>Основні причини розвитку бактеріального вагінозу:</h3>
        <div class="paragraph__list point">
          <ul>
            <li>
              <b>Порушення мікрофлори:</b> нормальна мікрофлора піхви
              складається переважно з лактобактерій, які підтримують кисле
              середовище, що перешкоджає розвитку патогенних мікроорганізмів.
              При порушенні цього балансу зростає кількість анаеробних бактерій,
              таких як Gardnerella vaginalis.
            </li>
            <li>
              <b>Сексуальна активність:</b> Бактеріальний вагіноз часто
              асоціюється з сексуальними контактами, особливо з новим партнером.
              Це може змінювати мікрофлору піхви і сприяти розвитку інфекції.
            </li>
            <li>
              <b>Антибіотики:</b> деякі антибактеріальні препарати можуть
              змінювати природний склад мікрофлори піхви, знижуючи кількість
              корисних бактерій і даючи можливість анаеробам розмножуватися.
            </li>
            <li>
              <b>Неправильне використання тампонів, спреїв, мила:</b> продукти
              для інтимної гігієни з агресивними хімічними речовинами можуть
              порушити нормальну кислотність піхви та сприяти розвитку інфекцій.
            </li>
            <li>
              <b>Зміни в гормональному фоні:</b> гормональні зміни, зокрема під
              час вагітності, менопаузи або при прийомі контрацептивів, можуть
              порушувати баланс мікрофлори піхви.
            </li>
          </ul>
        </div>
      </div>
      <div class="paragraph__content">
        <div class="paragraph__img">
          <img src="./img/content/vaginos_1.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
