<section class="error pd1">
  <div class="error__container">
    <div class="error__body">
      <div class="error__bg no-select">
        <img src="./img/decor/err_bg.svg" alt="" />
      </div>
      <div class="error__main">
        <div class="error__img no-select">
          <img src="./img/decor/err_img.svg" alt="" />
        </div>
        <h1 class="tl2 cr">Схоже, щось пішло не так…</h1>
        <h2 class="error__sbtl">
          Перезавантажте сторінку, поки ми лагодимо сайт
        </h2>
      </div>
    </div>
  </div>
</section>
