.mobmenu {
  display: none;
}

@media screen and (max-width: 960px) {
  .mobmenu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    height: calc(100vh - 100%);
    background-color: var(--cw);
    transform: translateX(100%);

    transition: all 0.25s ease-in;
    -webkit-transition: all 0.25s ease-in;
    -o-transition: all 0.25s ease-in;
    -webkit-overflow-scrolling: touch;

    &.isOpened {
      transform: translateX(0);
    }

    &__body {
      overflow-y: auto;
      height: 100%;
    }
    &__container {
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 500px) {
  .mobmenu {
  }
}
