.header__main {
  .navmenu {
    &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 0.625rem 1.875rem;

      & > li,
      & > .menu-item {
        a {
          display: block;
          font-size: 1.125rem;
          font-weight: 500;
          transition: all 0.15s ease-in;
          &:hover {
            color: var(--cr);
          }
        }

        &.current-menu-item {
          & > a {
            color: var(--cr);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 960px) {
  .header__main {
    .navmenu {
      display: none;
    }
  }

  .mobmenu {
    .navmenu {
      padding-top: 0.75rem;
      margin-bottom: 2.8125rem;
      &__list {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;

        & > li,
        & > .menu-item {
          a {
            display: block;
            font-weight: 600;
            padding-bottom: 1rem;
            border-bottom: 0.5px solid var(--cp);
            color: var(--cr);
          }
        }
      }
    }
  }
}
