<section class="contacts pd1">
  <div class="contacts__container narrow">
    <div class="heading">
      <h1 class="tl2">Зв’яжіться з нами</h1>
    </div>

    <div class="contacts__main">
      <address class="contacts__address">
        <p>
          ТОВ «Айкор Консьюмер», вул. Вінстона Черчилля, 42Д, Київ, Україна,
          02094,
        </p>

        <div class="footer__box">
          <a href="tel:+380445875758" class="footer__con">
            <span>
              <img src="./img/icons/con_1.svg" alt="" />
            </span>
            <p>+38 (044) 587 57 58</p>
          </a>
          <a href="mailto:aicore.office@aicore.com.ua" class="footer__con">
            <span>
              <img src="./img/icons/con_2.svg" alt="" />
            </span>
            <p>aicore.office@aicore.com.ua</p>
          </a>
          <a href="mailto:www.aicore.com.ua" class="footer__con">
            <span>
              <img src="./img/icons/con_3.svg" alt="" />
            </span>
            <p>www.aicore.com.ua</p>
          </a>
        </div>

        <ul class="footer__soc">
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_1.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_2.svg" alt="" />
            </a>
          </li>
          <li>
            <a href="#" target="_blank" rel="noopener noreferrer">
              <img src="./img/icons/soc_3.svg" alt="" />
            </a>
          </li>
        </ul>
      </address>

      <div class="contacts__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1807.2418739659163!2d30.643871944488694!3d50.45964088707786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4daae6a0f4f27%3A0x4cd54e6f000002cc!2z0YPQuy4g0JrRgNCw0YHQvdC-0YLQutCw0YbQutCw0Y8sIDQy0JQsINCa0LjQtdCyLCAwMjA5NA!5e1!3m2!1sru!2sua!4v1741109907550!5m2!1sru!2sua"
          style="border: 0"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </div>
  </div>
</section>
