.sec-wrap {
  border-radius: 1.25rem;
  background-color: var(--cp);
  padding: 3.75rem;
}

.pd1,
.mr1 {
  padding-top: 9.375rem;
}
.pd2,
.mr2 {
  padding-top: 6.25rem;
}

.heading {
  margin-bottom: 3.75rem;
}

.tl1,
.tl2 {
  &.cr {
    color: var(--cr);
  }
}
.tl1 {
  font-size: 2.25rem;
  font-weight: 700;
  span {
    font-size: 3.75rem;
    color: var(--cr);
  }
}
.tl2 {
  font-size: 2.25rem;
  font-weight: 700;
  span {
    color: var(--cr);
  }
}

.btn-def {
  flex-shrink: 0;
  display: block;
  text-align: center;
  width: fit-content;
  min-width: 13.1875rem;
  font-weight: 600;
  font-size: 1.125rem;
  color: var(--cw);
  background-color: var(--cr2);
  border-radius: 0.625rem;
  padding: 0.625rem 1.875rem;
  border: 0.125rem solid var(--cr2);
  transition: all 0.15s ease-in;

  &:hover {
    background-color: transparent;
    color: var(--cr2);
  }

  &.bg-trn {
    background-color: transparent;
    color: var(--cr2);
    &:hover {
      background-color: var(--cr2);
      color: var(--cw);
    }
  }
}

.hvr {
  transition: all 0.15s ease-in;
  &:hover {
    opacity: 0.7;
  }
}

@media screen and (max-width: 960px) {
  .sec-wrap {
    border-radius: 0.625rem;
    padding: 5rem 1.25rem;
  }

  .pd1,
  .mr1 {
    padding-top: 5rem;
  }
  .pd2,
  .mr2 {
    padding-top: 3.75rem;
  }

  .heading {
    margin-bottom: 1.875rem;
  }

  .tl1 {
    font-size: 1.375rem;
    span {
      font-size: 2.25rem;
    }
  }
  .tl2 {
    font-size: 1.5rem;
  }

  .btn-def {
    margin: 0 auto;
    width: 100%;
    min-width: auto;
    max-width: 19.9375rem;
  }
}

@media screen and (max-width: 500px) {
  .class {
  }
}
