.embeded {
  font-size: 1em;
  line-height: 1.5em;
  color: var(--cm);

  & > * {
    margin-top: 0.75em;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0 !important;
      padding-bottom: 0 !important;
      border-bottom: none !important;
    }
  }

  a {
    color: var(--cr);
    &:hover {
      text-decoration: underline !important;
    }
  }

  b {
    font-weight: 700;
  }

  span {
    color: var(--cr);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 700;
  }

  h2 {
    font-size: 1.125em;
    line-height: 1.4em;
    margin-top: 2.222em;
    margin-bottom: 1.111em;
  }
  h3 {
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
  }

  h4,
  h5,
  h6 {
    font-size: 1em;
    line-height: 1.4em;
    margin-top: 1.25em;
    margin-bottom: 0.75em;
  }

  .emb-list {
    margin: 1.25em 0;
    border-radius: 1.25rem;
    background-color: var(--cp);
    padding: 2.5rem;

    & > * {
      margin-top: 0.75em;

      &:first-child {
        margin-top: 0;
      }

      &:last-child {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
        border-bottom: none !important;
      }
    }
  }

  ul {
    margin-left: 1em;
    li {
      margin-bottom: 0.75em;
      margin-left: 0.5em;
      list-style: disc;
      &:last-child {
        margin-bottom: 0;
      }
      ol {
        margin-top: 0.75em;
        padding-left: 4.5em;
      }
    }
  }

  ol {
    padding-left: 1.5em;
    margin-left: 0;
    li {
      margin-bottom: 0.5em;
      list-style: decimal;
      margin-left: 0;
      &:last-child {
        margin-bottom: 0;
      }
      ul {
        margin-top: 0.75em;
        margin-left: 4.125em;
      }
    }
  }

  .wp-block-image,
  .wp-block-video,
  .wp-block-embed {
    margin: 2.5em 0;
    width: 100%;

    &.is-resized {
      img,
      video,
      iframe {
        width: 100% !important;
      }
    }

    &.aligncenter {
      img,
      video,
      iframe {
        margin: 0 auto;
      }
    }

    &.alignright {
      display: flex;
      justify-content: flex-end;
    }

    img,
    video,
    iframe {
      max-width: 100% !important;
      display: block;
      height: auto !important;
    }

    .wp-block-embed__wrapper {
      padding-top: calc(100% / 16 * 9);
      position: relative;
    }

    iframe {
      width: 100% !important;
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      height: 100% !important;
    }
  }
}

@media screen and (max-width: 960px) {
  .embeded {
    h2 {
      margin-top: 1.667em;
    }

    .emb-list {
      border-radius: 0.625rem;
      padding: 1.875rem;
    }
  }
}
