<div class="descript pd2">
  <div class="descript__container">
    <ul class="descript__cards">
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>Комплексне лікування бактеріального вагінозу</p>
        </div>
      </li>
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>Профілактика рецидивів</p>
        </div>
      </li>
      <li class="card-def">
        <span class="card-def__ico no-select">
          <img src="./img/icons/checked.svg" alt="" />
        </span>
        <div class="card-def__txt">
          <p>Зручне застосування</p>
        </div>
      </li>
    </ul>
  </div>
</div>
