<section class="episode pd1">
  <div class="episode__container narr">
    <div class="episode__body">
      <div class="episode__content">
        <h2 class="tl2">
          Кожна <span>друга-третя жінка</span> має хоча б один епізод
          бактеріального вагінозу протягом життя1
        </h2>

        <div class="episode__img">
          <img src="./img/content/episode_1.png" alt="" />
        </div>

        <div class="txt-def">
          <p>
            Бактеріальний вагіноз протягом життя переносять 30–50% жінок, він
            викликає суттєві незручності і створює стресовий стан, а також
            пов’язується з потенційно серйозними супутніми захворюваннями2
          </p>
        </div>

        <div class="episode__btns">
          <a
            href="https://aicore-store.com.ua/index.php?route=product/product&product_id=98"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Замовити
          </a>
          <a href="./vaginosis.html" class="btn-def bg-trn">
            Дізнатися більше
          </a>
        </div>
      </div>

      <div class="episode__explanat">
        <ol>
          <li>
            Allsworth JE and Peipert JF, Prevalence of bacterial vaginosis:
            2001–2004 National Health and Nutrition Examination Survey data.
            Obstet Gynecol, 2007. 109(1): p. 114–20
          </li>
          <li>
            L Armstrong-Buisseret, C Brittain, M David et al. Metronidazole
            versus lactic acid for treating bacterial vaginosis (VITA): protocol
            for a randomised controlled trial to assess the clinical and cost
            effectiveness of topical lactic acid gel for treating second and
            subsequent episodes of bacterial vaginosis / Trials 2019 Nov
            27;20(1):648
          </li>
        </ol>
      </div>
    </div>
  </div>
</section>
