<section class="hero pd1">
  <div class="hero__container narr">
    <div class="hero__body">
      <div class="hero__content">
        <h1 class="tl1">
          <span>ЛактоРинг®</span> — патогенетично обгрунтоване інновативне
          лікування і профілактика бактеріального вагінозу 24 × 7
        </h1>

        <div class="hero__img">
          <img src="./img/content/hero_1.png" alt="" />
        </div>

        <div class="txt-def">
          <p>
            Розриває замкнене коло бактеріального вагінозу та створює
            середовище, яке пригнічує патогенну мікрофлору і сприяє відновленню
            нормального мікробіому піхви
          </p>
        </div>
        <div class="hero__btns">
          <a
            href="https://aicore-store.com.ua/index.php?route=product/product&product_id=98"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Купити онлайн
          </a>
          <a
            href="https://tabletki.ua/uk/%d0%9b%d0%b0%d0%ba%d1%82%d0%be%d0%a0%d0%b8%d0%bd%d0%b3/1098184/"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def bg-trn"
          >
            Знайти в аптеці
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
