<section class="recovery pd1">
  <div class="recovery__container narr">
    <div class="recovery__body">
      <div class="recovery__content">
        <h2 class="tl2">
          <span>ЛактоРинг®</span> розриває замкнене коло бактеріального вагінозу
        </h2>

        <div class="recovery__img ibg">
          <img src="./img/content/recovery_1.jpg" alt="" />
        </div>

        <div class="txt-def">
          <p>
            Постійне вивільнення молочної кислоти у вагінальне середовище
            підтримує оптимальну кислотність піхви, запобігаючи рецидивам
            бактеріального вагінозу.
          </p>
        </div>

        <div class="recovery__list">
          <ul>
            <li>Підтримує оптимальну кислотність піхви цілодобово 24х7</li>
            <li>Профілактика рецидивів бактеріального вагінозу</li>
            <li>Зручний режим застосування</li>
          </ul>
        </div>

        <div class="recovery__btns">
          <a
            href="https://aicore-store.com.ua/index.php?route=product/product&product_id=98"
            target="_blank"
            rel="noopener noreferrer"
            class="btn-def"
          >
            Замовити
          </a>
          <a href="./lacto.html" class="btn-def bg-trn">Дізнатися більше</a>
        </div>
      </div>
    </div>
  </div>
</section>
