<section class="symptom pd1">
  <div class="symptom__container">
    <div class="symptom__body">
      <div class="symptom__content">
        <h2 class="tl2">Симптоми бактеріального вагінозу</h2>
        <div class="txt-def">
          <p>
            Бактеріальний вагіноз проявляється досить специфічною симптоматикою,
            яку легко розпізнає досвідчений гінеколог.
          </p>
        </div>

        <div class="symptom__list">
          <ol>
            <li>
              Зміни в кольорі та збільшення кількості вагінальних виділень.
            </li>
            <li>
              Виділення стають рідкими, часто сірого, білого або
              жовтувато-зеленого кольору.
            </li>
            <li>Неприємний запах.</li>
            <li>Іноді свербіж, печіння або біль під час сечовипускання.</li>
          </ol>
        </div>

        <a href="./vaginosis.html" class="btn-def bg-trn">Дізнатися більше</a>
      </div>

      <div class="symptom__img ibg">
        <img src="./img/content/sympt_1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
